td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}

td.boolean {
	text-align: center;
}

th.boolean {
	text-align: center;
}

body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:11px; }
h1 { font-size: 15px; }
a { color: #548dc4; text-decoration: none; }
a:hover { text-decoration: underline; }
table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
table.testgrid th { background: #E5E5E5; text-align: left; }

table.holydaysid { border-collapse: collapse; border: 1px solid #CCB; width: 160px; }
table.holydaysid td, table.holydaysid th { padding: 5px; border: 1px solid #E0E0E0; }
table.holydaysid th { background: #E5E5E5; text-align: left; }

table.statesid { border-collapse: collapse; border: 1px solid #CCB; width: 380px; }
table.statesid td, table.holydaysid th { padding: 5px; border: 1px solid #E0E0E0; }
table.statesid th { background: #E5E5E5; text-align: left; }

table.rectificationgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
table.rectificationgrid td, table.rectificationgrid th { padding: 5px; border: 1px solid #E0E0E0; }
table.rectificationgrid th { background: #E5E5E5; text-align: left; }

table.tableTT { border-collapse: collapse; border: 1px solid #CCB; width: 480px; }
table.tableTT td, table.rectificationgrid th { padding: 5px; border: 1px solid #E0E0E0; }
table.tableTT th { background: #E5E5E5; text-align: left; }


input.invalid { background: red; color: #FDFDFD; }
.style1 {
	font-size: 12px;
	font-weight: bold;
}
.menu_section {
	color: #003366;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#FFFFFF; color:#000; border-left:1px solid #fff; border-top:1px solid #fff; border-right:1px solid #fff; border-bottom:1px solid #fff; padding:10; -moz-border-radius:5px; border-radius:5px}
#bluemask {background:#4195aa}
#whitemask {background:#FFFFFF}
#frameless {padding:0}
#frameless .tclose {left:6px}

.lockgrp { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; text-align: center; font-size:10px; }


#menu-v li, #menu-v a {zoom:1;} /* Hacks for IE6, IE7 */
#menu-v, #menu-v ul
{
    width: 180px; /* Main Menu Item widths */
    border: 1px solid #ccc;
    border-top:none;
    position: relative; font-size:0;
    list-style: none; margin: 0; padding: 0; display:block;
    z-index:9;
}
                
/* Top level menu links style
---------------------------------------*/

#menu-v li
{
    background: #FFF url(images/bg.gif) repeat-x 0 2px;
    list-style: none; margin: 0; padding: 0;
}
#menu-v li a
{
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: black;
    text-decoration: none;
    line-height:26px;
    padding-left:26px;            
}
#menu-v ul li a
{
    line-height:30px;
}
                
#menu-v li a.arrow:hover
{
    background-image:url(images/arrowon.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    position: absolute;
    width: 200px; /*Sub Menu Items width */
    visibility:hidden;
}
        
#menu-v a.arrow
{
    background-image:url(images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#menu-v li:hover, #menu-v li.onhover
{
    background-position:0 -62px;
}
#menu-v ul li
{
    background: rgba(255, 255, 255, 1.00);  /* Before Alpha was 0.86*/
    background-image:none;
}
#menu-v ul li:hover, #menu-v ul li.onhover
{
    background: #DDD;
    background-image:none;
}
        
/* Holly Hack for IE \
* html #menu-v  li
{
    float:left;
    height: 1%;
}
* html #menu-v  li a
{
    height: 1%;
}*/
/* End */